<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinAppVideoRentalStore.Properties.Settings.DefaultConnectionString"
            connectionString="Data Source=e8d4d7f2-e078-4050-bc66-a91e01804b58.sqlserver.sequelizer.com;Initial Catalog=dbe8d4d7f2e0784050bc66a91e01804b58;User ID=ntizhdbffmvyfhby"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>